In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f

In [5]:
spark = SparkSession.builder.master('local').appName('app').getOrCreate()
trade_common = spark.read.parquet("output_dir/partition=T")
trade = trade_common.select("trade_dt", "symbol", "exchange", "event_tm", "event_seq_nb", "arrival_tm", "trade_pr")

In [6]:
trade.createOrReplaceTempView('trade_v')

In [7]:
sql1 = """
select

"""

In [29]:
sample_data = [ ['aaa', 'aaa', 1],
                ['aaa', 'bbb', 3],
                ['aaa', 'ccc', 2],  
                ['bbb', 'ddd', 3],
                ['bbb', 'eee', 2],
                ['bbb', 'fff', 1]
              ]

In [30]:
rdd = spark.sparkContext.parallelize(sample_data)
df = rdd.toDF()

In [31]:
df.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
|aaa|aaa|  1|
|aaa|bbb|  3|
|aaa|ccc|  2|
|bbb|ddd|  3|
|bbb|eee|  2|
|bbb|fff|  1|
+---+---+---+

In [32]:
df.createOrReplaceTempView('df_v')

In [53]:
spark.sql("""
select _1, _2 as p, _3,
row_number() OVER (Partition by _1 order by _3 desc) as q
from df_v
""").filter(f.col('q') == 1).show()

+---+---+---+---+
| _1|  p| _3|  q|
+---+---+---+---+
|aaa|bbb|  3|  1|
|bbb|ddd|  3|  1|
+---+---+---+---+